* {
    padding: 5px;
    margin: 6px;
}
body {
    background: skyblue;
}
h1 {
text-align: center;
background: red;
font-family: 'Raleway', sans-serif;
}
h2 {
    background: gray;
}
a:link {
    color: darkgreen;
    text-decoration: none;
}
a:visited {
    color: red;
}
a:hover {
    color: darkviolet;
    font-weight: bold;
}
a:active {
    color:yellowgreen;
}
body {
    text-align: center;
}
.pie {
    clear: both;
    padding: 20px;
    background: #2d3436 ;
    color:white;
}